{% extends "base_sign.html" %}
{% block title %} Восстановление пароля {%  endblock %}
{% block content %}
<div class="container my-5">
    <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
        <div class="card p-5 col-md-4" style="background: #f9f9ff;">
            <div class="text-center">
                <i class="fa fa-edit" style="font-size: 55px;"></i>
                <form action="" method="post">
                        {% csrf_token %}    
                        {% if form.email.errors %}
                        <div class="mt-3 alert alert-danger">
                           Пожалуйста, проверьте правильность адреса почты!
                        </div> 
                        {% endif %}
                        <div class="mt-3">
                            <input 
                            type="text" 
                            id="{{ form.email.id_for_label }}"
                            maxlength="30" 
                            name="{{ form.email.html_name }}" 
                            placeholder="Email" 
                            required 
                            class="form-control">
                        </div>
                    <button type="submit" class="btn btn-success btn-block mt-3">Восстановить пароль</button>
                </form>
                </div>
        </div>
    </div>
</div>




{% endblock %}