{% extends "base_sign.html" %}
{% block title %} Восстановление пароля  {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">    
            <div class="card p-5 mt-5">
            <div class="d-flex align-items-center justify-content-center text-center">
                <div class="alert alert-info mt-5">
                        <h5> <i class="fa fa-info"></i>
                             &#160;&#160;&#160;Ваш пароль успешно изменен!</h5>
                </div>
                
            </div>
            <div class="text-center mb-5">
                <a href="{% url 'login' %}"  class="btn btn-success">Войти</a>
            </div>
        </div>
        </div>

    </div>
</div>
{% endblock %}