{% extends "base_sign.html" %}
{% block title %}
Востановление пароля
{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
        {% if validlink %}
        <div class="card p-5 col-md-4" >
            <div class="text-center">
                <i class="fa fa-edit" style="font-size: 55px;"></i>
                <form action="" method="post">
                    {% csrf_token %}      
                        <div class="mt-4">
                            <input 
                            type="password" 
                            id="{{ form.new_password1.id_for_label }}"
                            maxlength="30" 
                            name="{{ form.new_password1.html_name }}" 
                            placeholder="Новый пароль" 
                            required 
                            class="form-control">
                        </div>
                        <div class="mt-4 text-danger">
                            {% if form.new_password1.errors %}
                            {{ form.new_password1.errors }}
                            {% endif %}
                        </div> 
                        <div class="mt-4">
                            <input 
                            type="password" 
                            id="{{ form.new_password2.id_for_label }}"
                            maxlength="30" 
                            name="{{ form.new_password2.html_name }}" 
                            placeholder="Повторите пароль" 
                            required 
                            class="form-control">
                        </div>
                        <div class="mt-4 text-danger">
                            {% if form.new_password2.errors %}
                            {{ form.new_password2.errors }}
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-success btn-block mt-3">Сохранить</button>
                </form>
                </div>
        </div>
        {% else %}
            <h1>Сбой в ошибке востановление пароля</h1>
            <p>
                Сссылка для востановление пароля повторно использован.
                <br>Пожалуйста, подайте новую заявку на восстановление пароля.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}