{% extends "base_sign.html" %}
{% block title %} Восстановление пароля   {%  endblock %}
{% block content %}

<div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <div class="alert alert-info my-5">
            <p class="text-center">
                Мы отправили вам на почту инструкцию по поводу восстановление пароля. 
                <br>
                Пожалуйста проверьте входящие сообщение или спам!
            </p>
        </div>
    </div>

</div>
{% endblock %}