{% extends "base.html" %}
{% block title %} О нас {% endblock %}
{% block styles %} 
<style>
    p, h3{
        text-indent: 2rem;
    }
    
</style>
{% endblock %}
{% block content %}
<div class="container text-justify" style="p">
    <h3 class="text-success">
        Что такое Корпус?
    </h3>
    <p>
        Корпус — это информационно-справочная система, основанная на собрании текстов 
        на некотором языке в электронной форме. Национальный корпус представляет данный 
        язык на определенном этапе (или этапах) его существования и во всём многообразии 
        жанров, стилей, территориальных и социальных вариантов и т. п. 
    </p>
    <p>
        Национальный корпус создается лингвистами (специалистами по так называемой 
        корпусной лингвистике, быстро развивающейся современной области языкознания) 
        для научных исследований и обучения языку. Большинство крупных языков мира 
        уже имеет свои национальные корпуса (различающиеся по полноте и уровню научной 
        обработки текстов). Общепризнанным образцом является, в частности, Британский 
        национальный корпус (BNC): на него ориентированы многие другие современные корпуса. 
        Среди корпусов славянских языков выделяется Чешский национальный корпус, 
        созданный в Карловом университете Праги.
    </p>
    <h3 class="text-success">
        Зачем нужен национальный корпус?
    </h3>
    <p>
        Национальный корпус предназначен в первую очередь для обеспечения научных исследований 
        лексики и грамматики языка, а также тонких, но непрерывных процессов языковых изменений, 
        происходящих в языке на протяжении сравнительно небольших периодов — от одного до двух столетий. 
        Другая задача корпуса — предоставление всевозможных справок, относящихся к указанным областям 
        (лексика, грамматика, акцентология, история языка). Современные компьютерные технологии 
        многократно упрощают и ускоряют процедуры лингвистической обработки больших массивов текстов. 
        Раньше исследователь мог лишь просматривать тексты и вручную выписывать из них нужные примеры; 
        эта предварительная (но абсолютно неизбежная) деятельность была очень трудоемкой и не позволяла 
        обрабатывать большие массивы материала. Теперь ограничений на объем анализируемого материала и 
        скорость поиска информации в нем по существу нет, а это означает, что в распоряжении исследователя 
        оказываются колоссальные массивы текстов самого разного типа. Это не замедлило сказаться на развитии 
        наших знаний о языке: возможность массовой — в том числе статистической — обработки текстов, недоступная
         прежде, позволила обнаружить в структуре и развитии языка такие закономерности, о существовании 
         которых наука раньше или не подозревала, или лишь смутно догадывалась, но не могла строго обосновать. 
         Теперь подлинно научные описания грамматического строя языков, а также авторитетные академические 
         словари — практически все без исключений — должны составляться на основе корпусов этих языков. 
         Учет корпусных данных оказывается крайне желательным (если не строго обязательным) и 
        при многих других более специальных научных исследованиях.
    </p>
    <h3 class="text-success">
        Как развивается Национальный корпус?
    </h3>
    <p>
        Национальный корпус русского языка охватывает прежде всего период от середины XVIII до начала XXI века: этот период 
        представляет как язык предшествующих эпох, так и современный, в разных социолингвистических вариантах — литературном, 
        разговорном, просторечном, отчасти диалектном. В корпус включаются оригинальные (непереводные) произведения художественной 
        литературы (проза и драматургия, в дальнейшем также поэзия), имеющие культурную значимость, а также представляющие интерес 
        с точки зрения языка. Но Национальный корпус ни в коей мере не является только корпусом языка художественной литературы. 
        Помимо художественных текстов, в корпус в большом количестве включаются и другие образцы письменного (а для современного этапа — и
         устного) языка: мемуары, эссеистика, публицистика, научно-популярная и научная литература, публичные выступления, 
         частная переписка, дневники, документы и т. п. 
    </p>
</div>
{% endblock %}