{% extends 'base.html' %}

{% block title %} Контакты {% endblock %}

{% block content %}
<div class="row my-5">
    <div class="col-lg-6 col-sm-12 ">
        <h3 class="text-success text-center">Информация</h3>
        <table class="table table-responsive">
            <tr>
                <td><b>Тип:</b></td>
                <td>Образовательный</td>
            </tr>
            <tr>
                <td><b>Направление:</b></td>
                <td>Компьютерная лингвистика</td>
            </tr>
            <tr>
                <td><b>Телефон:</b></td>
                <td>55-04-11, 55-09-36</td>
            </tr>
            <tr>
                <td><b>Текущий адрес:</b></td>
                <td>110000, город Костанай, ул. Байтурсынова, д. 47 </td>
            </tr>
            <tr>
                <td><b>Сектор:</b></td>
                <td>Государственный</td>
            </tr>
           
           
            
                    

        </table>

        
    </div>
    <div class="col-lg-6 col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19120.054059088947!2d63.60221803667147!3d53.19979501669556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43cc8a6743bb003b%3A0x6cee231b722f7799!2sKostanay+State+University!5e0!3m2!1sru!2skz!4v1560230730537!5m2!1sru!2skz" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>	
    </div>	
</div>
<br><br>
<div class="row my-5">
    <div class="col-lg-6 col-sm-12 border">
        <div style="background-color: #ECF0F1; height: 95%;" class=" m-1 p-3 my-3" >
            <h2 class="text-success text-center my-4 mt-4">Обратная связь</h2>
        <div class="row my-5">
        <div class="form-group col-sm-6">
            <label for="name" >Имя</label>
            <input type="text" class="form-control" id="namesubmit" placeholder="Введите имя" required>
        </div>
        <div class="form-group col-sm-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="emailsubmit" placeholder="Введите email" required>
        </div>
    </div>
    <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea id="messagesubmit" class="form-control" rows="5" placeholder="Введите ваше сообщение" required></textarea>
    </div>
    <div id="msgSubmit" class="alert alert-danger" style="display: none;"></div>
    <div id="okSubmit" class="alert alert-success" style="display: none;"></div>	
    <button  id="formsubmit" class="btn btn-success  mt-5">Отправить</button>
</div>
</div>

    <div class="col-lg-6 col-sm-12">
        
        <h3 class="text-success text-center">Контакты </h3>
        <table class="table table-responsive">
            <tr>
                <td><b>Приемная ректора:</b></td>
                <td>+ 7(7142) 51-11-95</td>
            </tr>
            <tr>
                <td><b>Канцелярия (отдел документационного обеспечения):</b></td>
                <td>+ 7(7142) 51-11-57</td>
            </tr>
            <tr>
                <td><b>Телефон доверия :</b></td>
                <td>+ 7(7142) 39-01-87</td>
            </tr>
            <tr>
                <td><b>Факс:</b></td>
                <td>+7(7142) 51-11-95</td>
            </tr>
            <tr>
                <td><b>E-mail:</b></td>
                <td>info@ksu.edu.kz</td>
            </tr>
            <tr>
                <td><b>Ректор КГУ им. А.Байтурсынова Дощанова А.И.:</b></td>
                <td>info@ksu.edu.kz</td>
            </tr>
            <tr>
                <td><b>ИИК:</b></td>
                <td>KZ838560000000079688 КФ АО "Банк Центр Кредит"</td>
            </tr>
            <tr>
                <td><b>БИН:</b></td>
                <td>990240005319</td>
            </tr>
            <tr>
                <td><b>БИК:</b></td>
                <td>KCJBKZKX</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            
            <!-- <tr>
                <td><b>КБЕ:</b></td>
                <td>16</td>
            </tr>
            <tr>
                <td><b>КНП:</b></td>
                <td>861</td>
            </tr> -->
            
                    

        </table>

    </div>
</div>


{% endblock  %}