{% extends "base.html" %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
        <h3 class="text-center">Қазақ әдеби тілінің мәтіндерінің анықтамалық-ақпараттық жүйесіне арналған деректер базасы</h3>
        <p class="text-justify">
                &#160;&#160;&#160;&#160;&#160;
                Автоматтандырылған ақпаратты өңдеу жүйелерінде табиғи тілдерді пайдалану проблемалары есептеу лингвистикасының ғылымымен байланысты. 
        </p>
        <p>
                Қазіргі заманда түрлі лингвистикалық зерттеулер жүргізу кезінде компьютерлік лингвистика барған сайын кеңінен қолданылады.
                Қолданбалы компьютерлік лингвистикасының маңызды әдіснамалық проблемасы автоматты мәтінді өңдеу жүйелерінің декларативті және рәсімдік компоненттері арасындағы қажетті қарым-қатынасты дұрыс бағалау болып табылады. 
                
        </p>
        <div class="row my-5">
            <div class="col-md-2 col-0"></div>
            <div class="col-md-8 col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="/static/images/kaz.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item ">
                        <img src="/static/images/world.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="/static/images/kazakhstan.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Предыдущий</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Следущий</span>
                    </a>
                    </div>
            </div>
        </div>
        



{% endblock %}