{% extends "base_sign.html" %}

{% block title %} Регистрация{%  endblock %}

{% block content %}
    <div class="row mt-1 p-4">
        <div class="col-md-4 col-sm-12"></div>    
        <div class="col-md-4 col-sm-12 p-3 card" >
            <form class="card-body" id="signup-form" method="POST" action="/signup">
            <div class="text-center">
                <h1 class="fas fa-edit "></h1> <br>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Имя</label>
                <input 
                type="text" 
                class="form-control"                    
                name="first_name"
                placeholder="Введите имя">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Фамилия</label>
                <input 
                type="text" 
                class="form-control" 
                name="last_name"
                placeholder="Введите фамилия">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input 
                type="email" 
                class="form-control" 
                name="email"
                placeholder="Введите email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Логин</label>
                <input 
                type="text" 
                class="form-control" 
                name="username"
                placeholder="Введите email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Пароль</label>
                <input 
                type="password" 
                class="form-control" 
                name="password"
                placeholder="Придумайте пароль">
            </div>
            <div id="signup-error" class="alert alert-danger my-3" style="display: none;"></div>
            <div id="signup-success" class="alert alert-success my-3" style="display: none;"></div>
            <br>
            {% csrf_token %}
                <button type="submit" class="btn btn-success btn-block">Регистрация</button>
            </form>
            <span class="text-center mt-2">
                Есть аккаунт? 
                <a href="/login">Вход</a>
            </span> 
        </div>
        <div class="col-md-4 col-sm-12"></div>
    </div>

{% endblock %}