<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/static/admin/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/admin/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        {% block title %} {% endblock %}
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/admin/css/loading.css">
    <link rel="stylesheet" href="/static/admin/css/loading-btn.css">
    <link rel="stylesheet" href="/static/admin/css/fSelect.css">

    <link href="/static/admin/css/paper-dashboard.css?v=2.0.0" rel="stylesheet"/>
    <link href="/static/admin/demo/demo.css" rel="stylesheet"/>
    <link href="/static/admin/css/style.css" rel="stylesheet"/>
</head>

<body class="">
{% if request.user.right.right != "expert"  %}
    {% if request.user.is_superuser == 0 %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5">
                <div class="alert alert-danger">
                    У вас нет права на эту страницу! Пожалуйста, повторите попытку позже J
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">

            <div class="logo">
                <a href="/expert/dash" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="/static/admin/img/logo-small.png">
                    </div>
                </a>
                <a href="/expert/dash" class="simple-text logo-normal">
                    <!-- Филолог -->
                    <span class="text-muted">
            {{ request.user.first_name }}   {{ request.user.last_name }}
          </span>

                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/expert/dash">
                            <p>Главная</p>
                        </a>
                    </li>
                    <li>
                        <a href="/expert/my_texts">
                            <p>Мои тексты</p>
                        </a>
                    </li>
                    <li>
                        <a href="/expert/stop-words">
                            <p>Стопслова</p>
                        </a>
                    </li>
                     <li>
                        <a href="/expert/tokens">
                            <p>Токенизация</p>
                        </a>
                    </li>

                    <li>
                        <a href="/accounts/logout">
                            <p>Выйти</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">{% block pagename %} {% endblock %} </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

            {% block content %}

            {% endblock %}


        </div>
    </div>
{% endif %}
<script src="/static/admin/js/core/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>

<script src="/static/admin/js/core/bootstrap.min.js"></script>
<script src="/static/admin/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/admin/js/plugins/chartjs.min.js"></script>
<script src="/static/admin/js/plugins/bootstrap-notify.js"></script>
<script src="/static/admin/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
<script src="/static/admin/js/fSelect.js"></script>
<script src="/static/admin/js/script.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</body>

</html>