{% extends "expert/base.html" %}
{% block title %}
    Морфологический разбор
{% endblock %}
{% block pagename %}
    Морфологический разбор
{% endblock %}
{% block content %}
    <div class="content">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <form id="analysis-form">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Автор текста</label>
                                    <input type="text"
                                           name="author"
                                           class="form-control"
                                           placeholder="Автор произведения, статьи и т.д.">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Источник текста</label>
                                    <input type="text"
                                           name="source"
                                           class="form-control"
                                           placeholder="Название произведение, журнала, либо газета и т.д.">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Время создания текста</label>
                                    <!-- <input type="text" class="form-control" placeholder="" > -->
                                    <input type="number"
                                            min="0000"
                                            max="2021"
                                            step="1"
                                            name="year"
                                            class="form-control"
                                            placeholder="В годах"/>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Стиль текста</label>
                                    <!-- <input type="text" class="form-control" placeholder="" > -->
                                    <select id="" name="style" class="form-control">
                                        <option value="">Выберите стиль</option>
                                        <option value="Художественный">Художественный</option>
                                        <option value="Научный">Научный</option>
                                        <option value="Официально-деловой">Официально-деловой</option>
                                        <option value="Публицистический">Публицистический</option>
                                        <option value="Разговорный">Разговорный</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Текст (казахский)</label>
                                    <textarea id="sentence_kk" class="form-control textarea" name="sentence" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Английский</label>
                                    <div id="translate_button"
                                         class="btn btn-sm ld-over-inverse">
                                        Переводить
                                        <div class="ld ld-ball ld-bounce"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Текст (перевод на английском)</label>
                                    <textarea id="sentence_en" class="form-control textarea" name="eng_sentence" rows="7"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" id="analysis-error" style="display: none;"></div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round ld-over-inverse"
                                        id="analysis-submit-button">
                                    Анализировать и сохранить
                                    <div class="ld ld-ball ld-bounce"></div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}