{% extends "expert/base.html" %}
{% load get_string_as_list %}
{% block title %}
Морфологический разбор
{% endblock %}
{% block pagename %}
Морфологический разбор
{% endblock %}
{% block content  %}
<div class="content long-page">
<div class="col-md-12">
    {% if sentences|length > 0 %}
    {% for sentence in sentences %}
        <div class="card card-user">
            <div class="card-body">
            <div class="resulst">
                <div>
                    <b>Автор текста: </b> <span>{{ sentence.author }}</span>  <br><br>
                    <b>Источник текста: </b> <span>{{ sentence.source }}</span> <br><br>
                    <b>Время создания текста: </b> <span>{{ sentence.year }} год</span> <br><br>
                    <b>Стиль текста: </b> <span>{{ sentence.style }}</span> <br><br>

                </div>
                <b>Текст (на казахском): </b>
                {% for word in words %}
                    {% for w  in word %}
                        {% if sentence.id == w.sentence_id %}
                        <span 
                        data-toggle="popover" 
                        title="Словоформы"
                        data-content='
                        {% spaceless  %}
                            {% if wordforms %}
                                {% for wordform in wordforms %}
                                    {% for item in wordform %}
                                        {% if item.word_id == w.id %}
                                            <span>
                                                <b>  {{ item.wordform  }} </b> -
                                                {% for a_o in item.apertium_output|get_string_as_list %}
                                                    {% if tags %}
                                                        {% for tag in tags %}
                                                            {% if tag.symbol == a_o %}
                                                                {{ tag.eng_title }},
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                                <br>
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endspaceless  %}
                        '
                        data-html="true"
                        {% if w.word|lower == search|lower %}
                            style="color: yellow"
                        {% endif %}
                        >
                        {{ w.word  }}</span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <br>
            <b>Текст (на английском): </b> <span>{{ sentence.eng_sentence }}</span><br><br>
            <b>Дата добавления текста: </b> <span>{{ sentence.created_at }}</span><br><br>
            <b>Дата обновления  текста: </b> <span>{{ sentence.updated_at }}</span><br><br>
        </div>
    </div>
            {% endfor %}
        {% else  %}
        <div class="alert alert-danger">
            По вашему запросу ничего не найдено
        </div>
        {% endif %}    
    </div>
</div>
{% endblock %}