{% extends "expert/base.html" %}
{% block title %}
    Токенизация
{% endblock %}
{% block pagename %}
    Токенизация
{% endblock %}
{% block content %}
    <div class="content">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <form method="POST">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Текст</label>
                                    <textarea class="form-control textarea" name="text"
                                              rows="7">{% if text %}{{ text }}{% endif %}</textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Текст</label>
                                    <select name="lang" class="form-control select">
                                        <option {% if lang == 'english' %} selected {% endif %} value="english">
                                            Английский
                                        </option>
                                        <option {% if lang == 'danish' %} selected {% endif %} value="danish">Датский
                                        </option>
                                        <option {% if lang == 'dutch' %} selected {% endif %} value="dutch">
                                            Нидерландский
                                        </option>
                                        <option {% if lang == 'finish' %} selected {% endif %} value="finish">
                                            Финляндский
                                        </option>
                                        <option {% if lang == 'french' %} selected {% endif %} value="french">
                                            Французский
                                        </option>
                                        <option {% if lang == 'german' %} selected {% endif %} value="german">Немецкий
                                        </option>
                                        <option {% if lang == 'greek' %} selected {% endif %} value="greek">Греческий
                                        </option>
                                        <option {% if lang == 'italian' %} selected {% endif %} value="italian">
                                            Италянский
                                        </option>
                                        <option {% if lang == 'norwegian' %} selected {% endif %} value="norwegian">
                                            Норвежский
                                        </option>
                                        <option {% if lang == 'portuguese' %} selected {% endif %} value="portuguese">
                                            Португальский
                                        </option>
                                        <option {% if lang == 'russian' %} selected {% endif %} value="russian">
                                            Русский
                                        </option>
                                        <option {% if lang == 'slovene' %} selected {% endif %} value="slovene">
                                            Словенский
                                        </option>
                                        <option {% if lang == 'spanish' %} selected {% endif %} value="spanish">
                                            Испанский
                                        </option>
                                        <option {% if lang == 'swedish' %} selected {% endif %} value="swedish">
                                            Шведский
                                        </option>
                                        <option {% if lang == 'turkish' %} selected {% endif %} value="turkish">
                                            Турецкий
                                        </option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round">
                                    Токенизация
                                </button>
                            </div>
                        </div>
                        <hr class="mt-2">
                        <h4>Обработанный текст</h4>
                        <p>
                            {% for word in tokens %}
                                "{{ word }}",
                            {% endfor %}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}