{% extends 'admin/base.html' %}

{% block title %}
Пользователи
{% endblock %}
{% block pagename %}
Пользователи
{% endblock %}

{% block content %}
<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Список пользователи</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Имя
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Сообщение
                      </th>
                      <th>
                        Ответ
                      </th>
                      <th>
                        Дата отправки
                      </th>
                      <th>Действие</th>
                    </thead>
                    <tbody>
                      {% if  users  %}
                        {% for user in users %}
                        <tr class="{% if user.answer  %}
                                      bg-success
                                    {% else %}
                                      bg-muted
                                    {% endif %}">
                          <td>{{ user.first_name }}</td>
                          <td>{{ user.last_name }}</td>
                          <td>{{ user.username }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.login }}</td>

                          <td>
                            

                          </td>
                          <td>{{ user.created_at }}</td>
                          <td>
                            <button class="btn btn-danger btn-icon" data-toggle="tooltip" data-placement="top" title="Удалить">
                                <i class="nc-icon nc-simple-delete"></i>
                            </button>
                            <button class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="Ответить">
                                <i class="nc-icon nc-chat-33"></i>
                            </button>
                          </td>
                        </tr>

                        {% endfor %}
                      {% else %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <br><br>
                <nav class=" justify-content-center d-flex">
                    <ul class="pagination">
                        {% if users.has_previous %}
                            <li class="page-item">
                                <a href="/blog?page={{  users.previous_page_number }}{{ url }}" class="page-link " aria-label="Previous" >
                                        Пред.
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="#" class="page-link  disabled " aria-label="Previous" >
                                        Пред.
                                </a>
                            </li>
                        {% endif %}
                        {% if users.number > 2 %}
                            <li class="page-item"><a href="?page=1{{ url }}" class="page-link" aria-label="Goto page 1">1</a></li>
                            <li class="page-item"><span class="pagination-ellipsis">&hellip;</span></li>
                        {% endif %}
                        {% if users.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}{{ url }}">{{ users.previous_page_number }}</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link is-current" href="?page={{ users.number }}{{ url }}">{{ users.number }}</a></li>
                        {% if users.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}{{ url }}">{{ users.next_page_number }}</a></li>
                        {% endif %}
                        {% if for_pagination >= users.number %}
                            <li class="page-item"><span class="pagination-ellipsis">&hellip;</span></li>
                            <li class="page-item"><a href="?page={{ users.paginator.num_pages }}{{ url }}" class="page-link">{{  users.paginator.num_pages  }}</a></li>
                        {% endif %}


                        <!-- <li class="page-item active"><a href="#" class="page-link">02</a></li>
                        <li class="page-item"><a href="#" class="page-link">03</a></li>
                        <li class="page-item mx-3">...</li>
                        <li class="page-item"><a href="#" class="page-link">09</a></li> -->
                        {% if users.has_next %}
                            <li class="page-item">
                                <a href="/blog?page={{  users.next_page_number }}" class="page-link " aria-label="Previous" >
                                        Пред.
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="#" class="page-link disabled " aria-label="Previous" >
                                        След.
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}