
mark, .search-text {
    background: yellow;
}

.custom-file-label::after {
    content: "Обзор" !important;
}

input[type="file"] {
    cursor: pointer;
}

.bg-success, .btn-success {
    background: #14927C !important;
}

.text-success {
    color: #14927C !important;
}

.btn-success {
    cursor: pointer;
    border: none;
}

mark{
    padding: 0;
}

