<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/admin/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {% block title  %} {% endblock %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/admin/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/admin/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  {% if request.user.right.right == "admin" %}
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="/admin/dash" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="/static/admin/img/logo-small.png">
          </div>
        </a>
        <a href="/admin/dash" class="logo-normal">
          {% if user.first_name %}
            {{ user.first_name }}
          {% else %}
            <span>Нет имени</span>
          {% endif %}
          <br>
          <sup>
              Администратор
          </sup>
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/admin/dash">
              <i class="nc-icon nc-bank"></i>
              <p>Главная</p>
            </a>
          </li>
          <li>
            <a href="/admin/users">
              <i class="nc-icon nc-circle-10"></i>
              <p>Пользователи</p>
            </a>
          </li>
          <li>
            <a href="/admin/messages">
              <i class="nc-icon nc-chat-33"></i>
              <p>Сообщения</p>
            </a>
          </li>
          <li>
            <a href="/admin/texts">
              <i class="nc-icon nc-caps-small"></i>
              <p>Тексты</p>
            </a>
          </li>
          <li>
            <a href="/admin/tags">
              <i class="nc-icon nc-bold"></i>
              <p>Теги</p>
            </a>
          </li>
          <li>
              <a href="/accounts/logout">
                <i class="nc-icon nc-button-power"></i>
                <p>Выйти</p>
              </a>
            </li>  
          <!-- <li>
            <a href="./user.html">
              <i class="nc-icon nc-chart-bar-32"></i>
              <p>Статистика</p>
            </a>
          </li>    -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">{% block pagename %} {% endblock %} </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

    {% block content %}

    {% endblock %}
      
     
    </div>
  </div>
  {% else %}
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 mt-5">
        <div class="alert alert-danger">
          У вас нет права на эту страницу! Пожалуйста, повторите попытку позже
        </div>
      </div>
    </div>


  {% endif %}
  <!--   Core JS Files   -->
  <script src="/static/admin/js/core/jquery.min.js"></script>
  <script src="/static/admin/js/core/popper.min.js"></script>
  <script src="/static/admin/js/core/bootstrap.min.js"></script>
  <script src="/static/admin/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="/static/admin/js/script.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/static/admin/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/admin/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/admin/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip()
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
</body>

</html>