{% extends 'admin/base.html' %}

{% block title %}
Сообщения
{% endblock %}
{% block pagename %}
Сообщения
{% endblock %}

{% block content %}
<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Список сообщении</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Имя
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Сообщение
                      </th>
                      <th>
                        Ответ
                      </th>
                      <th>
                        Дата отправки
                      </th>
                      <th>Действие</th>
                    </thead>
                    <tbody>
                      {% if  messages  %}
                        {% for message in messages %}
                        <tr class="{% if message.answer  %}
                                      bg-success
                                    {% else %}
                                      bg-muted
                                    {% endif %}">
                          <td>{{ message.name }}</td>
                          <td>{{ message.email }}</td>
                          <td>{{ message.message }}</td>
                          <td>
                            {% if message.answer  %}
                              {{ message.asnwer }}
                            {% else %}
                              Вы еще не ответили на этот вопрос
                            {% endif %}

                          </td>
                          <td>{{ message.created_at }}</td>
                          <td>
                            <button class="btn btn-danger btn-icon" data-toggle="tooltip" data-placement="top" title="Удалить">
                                <i class="nc-icon nc-simple-delete"></i>
                            </button>
                            <button class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="Ответить">
                                <i class="nc-icon nc-chat-33"></i>
                            </button>
                          </td>
                        </tr>

                        {% endfor %}
                      {% else %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <br><br>
                <nav class=" justify-content-center d-flex">
                    <ul class="pagination">
                        {% if messages.has_previous %}
                            <li class="page-item">
                                <a href="/blog?page={{  messages.previous_page_number }}{{ url }}" class="page-link " aria-label="Previous" >
                                        Пред.
                                </a>
                            </li>
                        {% endif %}
                        {% if messages.number > 2 %}
                            <li class="page-item"><a href="?page=1{{ url }}" class="page-link" aria-label="Goto page 1">1</a></li>
                            <li class="page-item"><span class="pagination-ellipsis">&hellip;</span></li>
                        {% endif %}
                        {% if messages.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ messages.previous_page_number }}{{ url }}">{{ messages.previous_page_number }}</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link is-current" href="?page={{ messages.number }}{{ url }}">{{ messages.number }}</a></li>
                        {% if messages.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ messages.next_page_number }}{{ url }}">{{ messages.next_page_number }}</a></li>
                        {% endif %}
                        {% if for_pagination >= messages.number %}
                            <li class="page-item"><span class="pagination-ellipsis">&hellip;</span></li>
                            <li class="page-item"><a href="?page={{ messages.paginator.num_pages }}{{ url }}" class="page-link">{{  messages.paginator.num_pages  }}</a></li>
                        {% endif %}
                        {% if messages.has_next %}
                            <li class="page-item">
                                <a href="/blog?page={{  messages.next_page_number }}" class="page-link " aria-label="Previous" >
                                        След.
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}