{% extends 'admin/base.html' %}

{% block title %}
Сообщения
{% endblock %}
{% block pagename %}
Теги
{% endblock %}

{% block content %}
<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Список тегов</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead class="thead-dark text-primary">
                      <th>Тег</th>
                      <th>Английский</th>
                      <th>Русский</th>
                      <th>Казахский</th>
                      <th>Действие</th>
                    </thead>
                    <tbody>
                      {% if  tags  %}
                        {% for tags in tags %}
                        <tr class="{% if message.answer  %}
                                      bg-success
                                    {% else %}
                                      bg-muted
                                    {% endif %}">
                          <td>{{ tags.symbol }}</td>
                          <td>
                              {% if tags.eng_title %}
                                {{ tags.eng_title }}
                              {% else %}
                                <span class="text-danger">Нет перевода</span>
                              {% endif %}
                          </td>
                          <td>
                              {% if tags.rus_title %}
                                {{ tags.rus_title }}
                              {% else %}
                                <span class="text-danger">Нет перевода</span>
                              {% endif %}
                          </td>
                          <td>
                               {% if tags.kaz_title %}
                                {{ tags.kaz_title }}
                              {% else %}
                                <span class="text-danger">Нет перевода</span>
                              {% endif %}
                          </td>
                          <td>
                            <a href="/admin/tags/{{ tags.id }}/edit" class="btn btn-primary btn-icon my-auto" data-toggle="tooltip" data-placement="top" title="Редактировать">
                                <i class="fa fa-edit"></i>
                            </a>
                          </td>
                        </tr>

                        {% endfor %}
                      {% else %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <br><br>
                <nav class=" justify-content-center d-flex">
                    <ul class="pagination">
                        {% if messages.has_previous %}
                            <li class="page-item">
                                <a href="/admin/tags?page={{  messages.previous_page_number }}{{ url }}" class="page-link " aria-label="Previous" >
                                        Пред.
                                </a>
                            </li>
                        {% endif %}
                        {% if tags.number > 2 %}
                            <li class="page-item"><a href="/admin/tags?page=1{{ url }}" class="page-link" aria-label="Goto page 1">1</a></li>
                            <li class="page-item"><span class="pagination-ellipsis">&hellip;</span></li>
                        {% endif %}
                        {% if tags.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ tags.previous_page_number }}{{ url }}">{{ tags.previous_page_number }}</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link is-current" href="?page={{ tags.number }}{{ url }}">{{ tags.number }}</a></li>
                        {% if tags.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ tags.next_page_number }}{{ url }}">{{ tags.next_page_number }}</a></li>
                        {% endif %}
                        {% if for_pagination >= tags.number %}
                            <li class="page-item"><span class="pagination-ellipsis">&hellip;</span></li>
                            <li class="page-item"><a href="?page={{ tags.paginator.num_pages }}{{ url }}" class="page-link">{{  tags.paginator.num_pages  }}</a></li>
                        {% endif %}
                        {% if tags.has_next %}
                            <li class="page-item">
                                <a href="/admin/tags?page={{  tags.next_page_number }}" class="page-link " aria-label="Previous" >
                                        След.
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}