{% extends 'admin/base.html' %}

{% block title %}
Сообщения
{% endblock %}
{% block pagename %}
Теги
{% endblock %}

{% block content %}
<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Редактировать тег</h4>
              </div>
              <div class="card-body">
                  <form method="POST">
                      {% csrf_token %}
                      <div class="form-group"> <span>Символ: <span class="font-weight-bold">{{ tag.symbol }}</span></span></div>
                      <input type="hidden" name="id" value="{{tag.id}}">
                      <div class="form-group">
                        <label for="{{tag.id}}">На английском</label>
                        <input type="text" name="eng_title" class="form-control" id="{{tag.id}}" value="{% if tag.eng_title %}{{ tag.eng_title }}{% endif %}" >
                      </div>
                       <div class="form-group">
                        <label for="rusTitle">На русском</label>
                        <input type="text"name="rus_title" class="form-control" id="rusTitle"  value="{% if tag.rus_title %}{{ tag.rus_title }}{% endif %}" >
                      </div>
                      <div class="form-group">
                        <label for="kazTitle">На казахском</label>
                        <input type="text" name="kaz_title" class="form-control" id="kazTitle"  value="{% if tag.kaz_title %}{{ tag.kaz_title }}{% endif %}" >
                      </div>
                      <button type="submit" class="btn btn-primary">Сохранить</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}