{% extends 'base.html' %}
{% load get_string_as_list %}

{% block title %} Поиск по текстам {% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="">Слово или фраза</label>
        <div class="input-group mb-3">
            <input
                    type="text"
                    name="search"
                    value="{% if search %}{{ search }}{% endif %}"
                    class="form-control"
                    placeholder="Введите слово или фраза"
                    aria-label="Введите слово или фраза"
                    aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-success" id="basic-addon2">ПОИСК</button>
            </div>
        </div>
        <p>
            <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Инструменты поиска <i class="fas fa-chevron-down"></i>
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Выберите стиль текста</label>
                        <div class="input-group mb-3">
                            <select class="form-control" name="style">
                                <option {% if style == "" %} selected {% endif %} value="">Выберите стиль</option>
                                <option {% if style == "Художественный" %} selected {% endif %} value="Художественный">
                                    Художественный
                                </option>
                                <option {% if style == "Научный" %} selected {% endif %} value="Научный">Научный
                                </option>
                                <option {% if style == "Официально-деловой" %} selected {% endif %}
                                                                               value="Официально-деловой">
                                    Официально-деловой
                                </option>
                                <option {% if style == "Публицистический" %} selected {% endif %}
                                                                             value="Публицистический">
                                    Публицистический
                                </option>
                                <option {% if style == "Разговорный" %} selected {% endif %} value="Разговорный">
                                    Разговорный
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="">Автор</label>
                        <input name="author" type="text" class="form-control" placeholder="Введите имя автора"
                               value="{% if author %}{{ author }}{% endif %}">
                    </div>
                    <div class="col-6">
                        <label for="">Источник</label>
                        <input name="source" type="text" class="form-control" placeholder="Введите название источника"
                               value="{% if source %}{{ source }}{% endif %}">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <label for="">Годы</label>
                            </div>
                            <div class="col-6">
                                <input type="number"
                                       min="0000"
                                       max="2021"
                                       step="1"
                                       name="from_year"
                                       class="form-control"
                                       value="{% if from_year %}{{ from_year }}{% endif %}"
                                       placeholder="От"/></div>
                            <div class="col-6">
                                <input type="number"
                                       min="0000"
                                       max="2021"
                                       step="1"
                                       name="to_year"
                                       class="form-control"
                                       value="{% if to_year %}{{ to_year }}{% endif %}"
                                       placeholder="До"/></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
    {% if search %}
        {% if sentences|length > 0 %}
            {% for sentence in sentences %}
                <span class="text-secondary">{{ sentence.style }}</span>
                <div class="results">
                    {% for word in words %}
                        {% for w  in word %}
                            {% if sentence.id == w.sentence_id %}
                                <span
                                        data-toggle="popover"
                                        title="Сөз формалары"
                                        data-trigger="hover"
                                        data-content='
                        {% if wordforms %}
                            {% for wordform in wordforms %}
                                {% for item in wordform %}
                                    {% if item.word_id == w.id %}
                                        <span>
                                            <b>  {{ item.wordform }} </b> -
                                            {% for a_o in item.apertium_output|get_string_as_list %}
                                                {% if tags %}
                                                    {% for tag in tags %}
                                                        {% if tag.symbol == a_o %}
                                                            {{ tag.eng_title }},
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            <br>
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}'
                                        data-html="true"
                                        {% if w.word|lower == search|lower %}
                                        style="color: yellow"
                                        {% endif %}
                                >
                        {{ w.word }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <br><br>
                <div>{{ sentence.eng_sentence }}</div>
                <div class="text-secondary text-gray text-right">
                    <b>
                        {{ sentence.author }} - {{ sentence.source }} , {{ sentence.year }}
                    </b>
                </div>

                <br><br>

            {% endfor %}
        {% else %}
            <div class="alert alert-danger">
                По вашему запросу ничего не найдено
            </div>
        {% endif %}

    {% else %}
        <div class="alert alert-info">
            <b>

                Тіл білімі табиғи тілдің жалпы заңдарын - оның құрылымы мен жұмыс істеуін зерттейді және келесі
                салаларды қамтиды:
            </b>
            <ul>
                <li>- фонология - сөйлеу дыбыстарын және сөйлеудің қалыптасуындағы олардың бірігу ережелерін
                    зерттейді;
                </li>
                <li>- морфология - сөздің және олардың санаттарының бөліктерін қоса алғанда, ішкі құрылымы мен сөйлеу
                    сөздерінің сыртқы түрімен айналысады;
                </li>
                <li>- синтаксис - сөйлемдердің құрылымын, үндестік ережелерін және сөйлемдегі сөздер тізбегін, сондай-ақ
                    оның жалпы сипаттарын тіл бірліктері ретінде қарастырады.
                </li>
                <li>- семантикалар мен прагматика тығыз байланысты облыстар: семантикасы сөздердің, сөйлемдердің және
                    сөйлеудің басқа да бірліктерінің мағынасы мен коммуникацияның нақты мақсаттарына байланысты осы
                    мағынаны білдіретін ерекшеліктерімен қабылданады;
                </li>
                <li>- лексикография нақтылы NL лексиконын - оның жеке сөздерін, олардың грамматикалық және семантикалық
                    қасиеттерін, сондай-ақ сөздіктерді құру әдістерін сипаттайды.
                </li>
            </ul>
        </div>
        <blockquote class="blockquote text-right">
            <p class="mb-0">«Если вы разговариваете с человеком на языке, который он понимает, вы обращаетесь к его
                разуму. Если вы разговариваете с ним на его языке, вы обращаетесь к его сердцу.» </p>
            <footer class="blockquote-footer">Нельсон Мандела</footer>
        </blockquote>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $(".result").each(function (index) {
                var src_str = $(this).text();
                var term = "{{ search }}";
                term = term.replace(/(\s+)/, "(<[^>]+>)*$1(<[^>]+>)*");
                var pattern = new RegExp("(" + term + ")", "gi");
                src_str = src_str.replace(pattern, "<span class='search-text'>$1</span>");
                src_str = src_str.replace(/(<span class='search-text'>[^<>]*)((<[^>]+>)+)([^<>]*<\/span>)/, "$1</span>$2<span>$4");
                $(this).html(src_str);
            });
        });
    </script>
{% endblock %}