<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="/static/icons/css/all.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    {% block styles %} {% endblock %}
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
      <a class="navbar-brand" href="#">E-CORPUS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-home"></i>
                Главная
            </a>
          </li>
          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="main-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search"></i>
                Поиск
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/search_in_text">
                        <i class="fas fa-file-alt"></i>
                        Текст
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/search_in_pdf">
                        <i class="fas fa-file-pdf"></i>
                        PDF
                    </a>
                </div>
            </li> -->
            <li class="nav-item">
                <a href="/search" class="nav-link">
                    <i class="fas fa-search"></i>
                    Поиск
                </a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link" href="/morph_analysis">
                    <i class="fas fa-cogs"></i>
                    Морфологический разбор
                </a>
            </li> -->
            <li class="nav-item ">
                <a class="nav-link" href="/contact">
                    <i class="fas fa-phone"></i>
                    Контакты
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/about">
                    <i class="fas fa-info-circle"></i>
                    О нас
                </a>
            </li>
        </ul>
      </div>
    </nav>
</div>

<div class="container my-5">
    {% block content %}

    {% endblock %}
</div>

<footer class="footer mt-auto bg-success mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-light py-5">
                <h3>Наш адрес</h3>
                <span>110000, г. Костанай,  <br> ул. Байтурсынова, д. 47</span>
            </div>
            <div class="col-md-4 col-sm-12 text-light py-5">
                <h3>Полезные ссылки</h3>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-light" >Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="/search" class="nav-link text-light" >Поиск</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link text-light" >Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link text-light" > О нас</a>
                    </li>
                </ul>    
            </div>
            <div class="col-md-4 col-sm-12 py-5 text-light">
                <h3>Контакты</h3>
                <span>Телефон: + 7(7142) 51-11-95<br> Email: info@ksu.edu.kz</span>
            </div>            
        </div>
    </div>
    <hr class="divider">
    <div class="text-center text-light  py-5">
        Костанай, 2019 г.
    </div>
</footer>

<script src="/static/js/jquery-3.4.0.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/mark.min.js"></script>
<script src="/static/js/script.js"></script>


{% block scripts %}
{% endblock %}


</body>
</html>